<a href="https://colab.research.google.com/github/kplr-training/Data-Preparation/blob/main/1-D%C3%A9buter-avec-Pandas/Exercices-et-Solutions/1_Exercices.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercice 1 :**    
Créer un programme pandas Python qui traite les données du tableau suivant à l'aide d'un DataFrame et les affiches sous forme d'un tableau à l'écran:

![image](https://user-images.githubusercontent.com/123748165/226333321-a26d48aa-a3d8-4d4a-8dd0-fe0745f0c81c.png)

In [ ]:
#solution

**Exercice 2 :**    
Créer un programme pandas python qui permet de convertir la série:

In [ ]:
serie = pandas.Serie(numpy.array (['P', 'a', 'n', 'd', 'a' , 's']))

en la chaine de caractères formée par les éléments de la série. Le programme doit renvoyer la chaine s = "Pandas".

In [ ]:
#solution

**Exercice 3 :**    
Ecrire un programme pandas python qui permet de supprimer un élément de la série:

In [ ]:
pandas.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])

Supprimer le dernier élément à titre d'exemple.

In [ ]:
#solution

**Exercice 4 :**    
Reprendre l'exercice précédent **(Exercice3)** en créant cette fois-ci un programme basé sur la bibliothèque pandas python qui supprime les éléments d'index pair de la série.

In [ ]:
#soultion

**Exercice 5 :**    
Modfifier le programme suivant afin de supprimer la colonne 'Section' et la remplacer par la colonne: Age = [ 22 , 23 , 21 , 20 , 25 ] sans toucher à laliste data. les modifiction doivent être apportées uniquement au DataFrame df:

In [ ]:
import pandas as ps
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = ps.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

In [ ]:
#solution

**Exercice 6 :**    
A partir du programme suivant qui represente les données des étudiants dans un DataFrame:

In [ ]:
import pandas as ps
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = ps.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

In [ ]:
#solution

**Exercice 7 :**    
Ecrire un programme python pandas qui permet de sélectionner et afficher uniquement les deux colonnes 'Nom' et 'Age':

In [ ]:
dictData = {'ID' : [31, 71, 30 , 11 , 23] , 
            'Nom': ['Julia', 'Tiago', 'Charlie' , 'Alba' , 'Isaac'],  
        'Age': [22, 21, 20, 20 , 23], 
        'Taille': [170, 190, 181 , 175 , 165]}
# création du dataframe
df = ps.DataFrame(dictData , index=[235 , 155 , 243 , 311 , 117])

In [ ]:
#solution

**Exercice 8 :**    
Ecrire un programme pandas python permettant de récupérer la liste des index de la série pandas suivante:

In [ ]:
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])
s = ps.Series(data , index=[12 , 7 , 13 , 22 , 11 , 2])

In [ ]:
#solution

**Exercice 9 :**    
Ecrire un programme basé sur la bibliothèque python pandas qui permet de convertir la série pandas suivante en un dictionnaire python:

In [ ]:
s = ps.Series(["Louis" , "Maya" , "Yassmine"  ,  "Rosa" , "Tomas"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

In [ ]:
#solution

**Exercice 10 :**    
Ecrire un programme basé sur la bibliothèque pandas python qui permet d'ajouter le nom 'Clara' à la série pandas suivante:

In [ ]:
s = pandas.Series(["Emma" , "Alice" , "Paul"  ,  "Tiago" , "Julia"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

In [ ]:
#solution